{% extends "subsystem_eps.html" %}
{% load static %}
{% load mysettings %}


{% block header_link %}
<link type="text/css" rel="stylesheet" href="{% static '/css/speedometer.css' %}?ver={% settings_value 'APP_VER' %}">
{% endblock header_link %}

{% block info_title %}
<h5>
    Система определения местоположения сотрудников фабрики <h5>
    {% endblock info_title %}

    {% block content %}
    <section class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Отм. +10,200</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/eps/">Главная</a></li>
                    <li class="breadcrumb-item active">Отм. +10,200</li>
                </ol>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline direct-chat">
                <div class="card-header">
                    <!--<div class="card-tools">
                        <button type="button" class="btn btn-tool" id="#optionsZone" onclick="edit_zone(this.id); return false">
                            <i class="fa-sharp fa-solid fa-screwdriver-wrench" style="color: blue;"></i> Добавить опасную зону
                        </button>
                        <button type="button" class="btn btn-tool" id="#personsOnMap" onclick="persons(this.id); return false">
                            <i class="fa-solid fa-users" style="color: blue;"></i> Персонал
                        </button>
                        <button type="button" class="btn btn-tool" id="#zoneOnMap" onclick="persons(this.id); return false">
                            <i class="fa-sharp fa-solid fa-triangle-exclamation" style="color: red;"></i> Опасные зоны
                        </button>
                    </div>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1" style="padding: 10px 25px 15px">
                            <div class="d-md-flex">
                                <div class="p-1 flex-fill" style="overflow: hidden">
                                    <canvas id="canvas" style="border: 1px solid black"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    {% block script_footer %}
    <script src="https://rawgit.com/kangax/fabric.js/master/dist/fabric.js"></script>
    <script src="{% static 'js/map.js' %}?ver={% settings_value 'APP_VER' %}"></script>
    {% endblock script_footer %}
