{% extends "subsystem_base.html" %}
{% load static %}
{% load mysettings %}


{% block header_link %}
<link type="text/css" rel="stylesheet" href="{% static '/css/speedometer.css' %}?ver={% settings_value 'APP_VER' %}">
{% endblock header_link %}

 {% block info_title %}
    <h5>Аэрогазовый контроль <h5>  
 {% endblock info_title %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <p id="id_time"></p>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
            <div class="card card-primary card-outline card-tabs">
              <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">

                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Все</a>
                  </li>
                    {% for zone in m_zone %}
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-{{zone.id}}}-tab" data-toggle="pill" href="#custom-tabs-three-{{zone.id}}" role="tab" aria-controls="custom-tabs-three-{{zone.id}}" aria-selected="false">{{zone.name}}</a>
                        </li>
                     {% endfor %}
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content" id="custom-tabs-three-tabContent">
                    {% for zone in m_zone %}
                          <div class="tab-pane fade" id="custom-tabs-three-{{zone.id}}" role="tabpanel" aria-labelledby="custom-tabs-{{zone.id}}-tab">
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="row">
                                            {% for sensor in m_sensor %}
                                                {% if  sensor.zone == zone %} 
                                                    <div class="col-6 col-md-3 text-center">
                                                        <div style="display:inline;width:50px;height:50px;">
                                                            <canvas id="{{sensor.sensor.id}}_value_canvas" class="gauge-speed" style="margin-top:40px;" data-type="radial-gauge" data-width="170"
                                                                    data-glow="false" data-height="170" data-units="{{sensor.unit}}" data-title="{{sensor.sensor.id}}" data-min-value="0.0"
                                                                    data-max-value="{{sensor.str_critical_value}}" data-major-ticks="{{sensor.scale}}" data-minor-ticks="10" data-value="{{sensor.str_value}}"
                                                                    data-stroke-ticks="false" data-highlights='[{ "from": {{sensor.norm_value_from}}, "to": {{sensor.norm_value_to}}, "color": "#4caf50" },
                                                                         { "from": {{sensor.danger_value_from}}, "to":{{sensor.danger_value_to}} , "color": "#ff9800" },{ "from": {{sensor.critical_value_from}}, "to": {{sensor.critical_value_to}}, "color": "#f44336" }]'
                                                                    data-color-needle-start="rgba(240, 128, 128, 1)" data-color-needle-end="rgba(255, 160, 122, .9)"
                                                                    data-value-box="true" data-animation-rule="linear" data-animation-duration="100"
                                                                    data-needle-shadow="false"></canvas>
                                                        </div>

                                                        <div class="knob-label"><a href="sensor/?id={{sensor.sensor.id}}">{{sensor.sensor}}</a></div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>                              
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Показания датчиков</h3>

                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body p-0">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 10px">id</th>
                                                            <th>Датчик</th>
                                                            <th>Прогресс</th>
                                                            <th style="width: 40px">Показание</th>
                                                            <th style="width: 40px">ПДК</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for sensor in m_sensor %}
                                                        {% if  sensor.zone == zone %} 
                                                        <tr>
                                                            <td>{{sensor.sensor.id}}</td>
                                                            <td><a href="sensor/?id={{sensor.sensor.id}}">{{sensor.sensor}}</a></td>
                                                            <td id="{{sensor.sensor.id}}_pecent">
                                                                <div class="progress progress-xs progress-striped active">
                                                                    <div class="progress-bar {{sensor.color}}" style="width: {{sensor.value}}%"></div>
                                                                </div>

                                                            </td>
                                                            <td id="{{sensor.sensor.id}}_value"><span class="badge {{sensor.color}}">{{sensor.value}} {{sensor.unit}}</span></td>
                                                            <td><span class="badge ">{{sensor.critical_value}} {{sensor.unit}}</span></td>
                                                        </tr>
                                                         {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </div><!-- /.container-fluid -->
                                </div>
                          </div>
                    {% endfor %}


                  <div class="tab-pane fade active show" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="row">
                                    {% for sensor in m_sensor %}
                                    <div class="col-6 col-md-3 text-center">
                                        <div style="display:inline;width:90px;height:90px;">
                                            <canvas id="{{sensor.sensor.id}}_value_canvas" class="gauge-speed" style="margin-top:40px;" data-type="radial-gauge" data-width="170"
                                                    data-glow="false" data-height="170" data-units="{{sensor.unit}}" data-title="{{sensor.sensor.id}}" data-min-value="0.0"
                                                    data-max-value="{{sensor.str_critical_value}}" data-major-ticks="{{sensor.scale}}" data-minor-ticks="10" data-value="{{sensor.str_value}}"
                                                    data-stroke-ticks="false" data-highlights='[{ "from": {{sensor.norm_value_from}}, "to": {{sensor.norm_value_to}}, "color": "#4caf50" },
                                                         { "from": {{sensor.danger_value_from}}, "to":{{sensor.danger_value_to}} , "color": "#ff9800" },{ "from": {{sensor.critical_value_from}}, "to": {{sensor.critical_value_to}}, "color": "#f44336" }]'
                                                    data-color-needle-start="rgba(240, 128, 128, 1)" data-color-needle-end="rgba(255, 160, 122, .9)"
                                                    data-value-box="true" data-animation-rule="linear" data-animation-duration="100"
                                                    data-needle-shadow="false"></canvas>
                                        </div>

                                        <div class="knob-label"><a href="sensor/?id={{sensor.sensor.id}}">{{sensor.sensor}}</a></div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Показания датчиков</h3>

                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="width: 10px">id</th>
                                                <th>Датчик</th>
                                                <th>Прогресс</th>
                                                <th style="width: 40px">Показание</th>
                                                <th style="width: 40px">ПДК</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for sensor in m_sensor %}
                                            <tr>
                                                <td>{{sensor.sensor.id}}</td>
                                                <td><a href="sensor/?id={{sensor.sensor.id}}">{{sensor.sensor}}</a></td>
                                                <td id="{{sensor.sensor.id}}_pecent">
                                                    <div class="progress progress-xs progress-striped active">
                                                        <div class="progress-bar {{sensor.color}}" style="width: {{sensor.value}}%"></div>
                                                    </div>

                                                </td>
                                                <td id="{{sensor.sensor.id}}_value"><span class="badge {{sensor.color}}">{{sensor.value}} {{sensor.unit}}</span></td>
                                                <td><span class="badge ">{{sensor.critical_value}} {{sensor.unit}}</span></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <!-- /.row -->
                        </div><!-- /.container-fluid -->
                    </div>                  
                              </div>
                </div>
              </div>
              <!-- /.card -->
            </div>
    </div>
</section>


{% endblock %}

{% block script_footer %}
<script src="{% static 'js/gauge.min.js' %}?ver={% settings_value 'APP_VER' %}"></script>
<script src="{% static 'js/speedometer.js' %}?ver={% settings_value 'APP_VER' %}"></script>
<script>
		function show()
		{
		cmd = 'refresh';
        $.ajax({
            type: 'POST', // метод отправки
            url: window.location.pathname+'ajax/', // путь к обработчику
            data: {
                "cmd": cmd
            },
            // dataType: 'text',
			success: function (data) {
                for (index = data.length - 1; index >= 0; --index) {
					str_pecent = "<div class='progress progress-xs progress-striped active'><div class='progress-bar " + data[index].color + " 'style=width:" + Math.floor(data[index].pecent_value) + "%></div></div>";
					$("#" + data[index].sensor_id + "_pecent").html(str_pecent)

					str_value = "<span class='badge " + data[index].color + "'>" + data[index].value + " " + data[index].unit + "</span>";
					$("#" + data[index].sensor_id + "_value").html(str_value)
                    var seconds = new Date().getTime() / 1000;
                    //$("#id_time").html(seconds)
					$("#" + data[index].sensor_id + "_value_canvas").attr('data-value', data[index].value)
                }
            },
            error: function (dataerr) {
                 console.log('Ошибка выполнение команды :'+dataerr)
            }
        });
		}

		$(document).ready(function(){
			show();
			setInterval('show()',1000);
		});
</script>
{% endblock script_footer %}
