{% extends "management_base.html" %}
{% load static %}
{% load mysettings %}

{% block header_link %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'lte/plugins/select2/css/select2.min.css' %}?ver={% settings_value 'APP_VER' %}">
<link rel="stylesheet" href="{% static 'lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}?ver={% settings_value 'APP_VER' %}">

{% endblock header_link %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Список сотрудников ({{clients_count}})</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/management/">Главная</a></li>
                    <li class="breadcrumb-item active">Список сотрудников</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content text-sm">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-sm">
                        <a href="./?catalog=workers&cmd=add" type="button" class="btn bg-gradient-primary float-left" style="margin-right:20px;">Добавить</a>
                    </div> <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-bordered table-hover table-head-fixed text-nowrap">
                            <thead>
                                <tr role="row">
                                    <th> </th>
                                    <th>id</th>
                                    <th>Таб. № </th>
                                    <th>ФИО</th>
                                    <th>Подразделение</th>
                                    <th>Должность</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% if page_object %}
                                {% for catalog in page_object.object_list %}
                            <td style="width:5px;">
                            </td>
                            <td style="width:10px;">
                              <form action="./?catalog=workers&cmd=edit" id="frm_name_{{catalog.id}}" method="POST" class="floatLeft butDelUser">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('frm_name_{{catalog.id}}').submit(); return false;">
                                        {{ catalog.id }}
                                    </a>
                                    <input type="hidden" value="{{catalog.id}}" name="id">
                                </form>
                            </td>
                            <td style="width:10px;">
                              <form action="./?catalog=workers&cmd=edit" id="frm_name_{{catalog.id}}" method="POST" class="floatLeft butDelUser">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('frm_name_{{catalog.id}}').submit(); return false;">
                                        {{ catalog.tabnomer }}
                                    </a>
                                    <input type="hidden" value="{{catalog.id}}" name="id">
                                </form>
                            </td>
                              <td>
                                <form action="./?catalog=workers&cmd=edit" id="frm_name_{{catalog.id}}" method="POST" class="floatLeft butDelUser">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('frm_name_{{catalog.id}}').submit(); return false;">
                                        {{ catalog.name }}
                                    </a>
                                    <input type="hidden" value="{{catalog.id}}" name="id">
                                </form>

                            </td>
                              <td>
                                <form action="./?catalog=workers&cmd=edit" id="frm_name_{{catalog.id}}" method="POST" class="floatLeft butDelUser">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('frm_name_{{catalog.id}}').submit(); return false;">
                                        {{ catalog.department }}
                                    </a>
                                    <input type="hidden" value="{{catalog.id}}" name="id">
                                </form>

                            </td>
                              <td>
                                <form action="./?catalog=workers&cmd=edit" id="frm_name_{{catalog.id}}" method="POST" class="floatLeft butDelUser">
                                    {% csrf_token %}
                                    <a href="#" onclick="document.getElementById('frm_name_{{catalog.id}}').submit(); return false;">
                                        {{ catalog.position }}
                                    </a>
                                    <input type="hidden" value="{{catalog.id}}" name="id">
                                </form>

                            </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.card-body -->
                </div> <!-- /.card -->
            </div> <!-- /.row -->
        </div><!-- /.container-fluid -->

</section>

{% endblock %}

{% block script_footer %}
{% endblock script_footer %}
