{% extends "ktp_default.html" %}
{% load static %}
{% load mysettings %}


{% block header_link %}
<link type="text/css" rel="stylesheet" href="{% static '/css/speedometer.css' %}?ver={% settings_value 'APP_VER' %}">
{% endblock header_link %}

{% block info_title %}
{% if  1 == type %}
<h5>
    Аэрогазовый контроль : Датчики диоксида углерода (CO2)<h5>
        {% elif  type == 2 %}
        <h5>
            Аэрогазовый контроль : Датчики оксида (CO)  <h5>
                {% elif  type == 3 %}
                <h5>
                    Аэрогазовый контроль : Датчики метана (CH4) <h5>
                        {% else%}
                        <h5>
                            Показатели КТП<h5>
                                {% endif %}
                                {% endblock info_title %}

                                {% block content %}
                                <section class="content">
                                    <div class="container-fluid">
                                        <div class="card card-primary card-outline card-tabs">

                                            <div class="card-body">
                                                <div class="row" style="margin-top:10px;">
                                                    <div class="col-md-6">
                                                        <div class="card card-primary card-outline">
                                                            <div class="card-body box-profile">
                                                                <h3 class="profile-username text-center">Серийный номер</h3>

                                                                <p class="text-muted text-center" style=" font-size: 18px;">282 </p>
                                                                <p class="text-muted text-center p-1" style=" font-size: 18px;">на {{value_akt282date}} </p>


                                                                <ul class="list-group list-group-unbordered mb-3">
                                                                    <li class="list-group-item p-1">
                                                                        <b>Активная Энергия Т1</b> <a class="float-right" id="akt282t1">{{value_akt282_t1}}</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Активная Энергия Т2</b> <a class="float-right" id="akt282t2">{{value_akt282_t2}}</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Сумма Активных энергий</b> <a class="float-right" id="sum282akt">{{summ_akt}}</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Реактивная Энергия Т1</b> <a class="float-right" id="reakt282t1">{{value_reakt282_t1}}</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Реактивная Энергия Т2</b> <a class="float-right" id="reakt282t2">{{value_reakt282_t2}}</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Сумма Реактивных энергий</b> <a class="float-right" id="sum282reakt">{{summ_reakt}}</a>
                                                                    </li>
                                                                </ul>


                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card card-primary card-outline">
                                                            <div class="card-body box-profile">
                                                                <h3 class="profile-username text-center">Серийный номер</h3>

                                                                <p class="text-muted text-center" style=" font-size: 18px;">805</p>

                                                                <ul class="list-group list-group-unbordered mb-3">
                                                                    <li class="list-group-item p-1">
                                                                        <b>Активная Энергия Т1</b> <a class="float-right">0</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Активная Энергия Т2</b> <a class="float-right">0</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Сумма Активных энергий</b> <a class="float-right">0</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Реактивная Энергия Т1</b> <a class="float-right">0</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Реактивная Энергия Т2</b> <a class="float-right">0</a>
                                                                    </li>
                                                                    <li class="list-group-item p-1">
                                                                        <b>Сумма Реактивных энергий</b> <a class="float-right">0</a>
                                                                    </li>
                                                                </ul>


                                                            </div>
                                                            <!-- /.card-body -->
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                            <!-- /.card -->
                                        </div>
                                    </div>
                                </section>


                                {% endblock %}

                                {% block script_footer %}
                                <script src="{% static 'js/gauge.min.js' %}?ver={% settings_value 'APP_VER' %}"></script>
                                <script src="{% static 'js/speedometer.js' %}?ver={% settings_value 'APP_VER' %}"></script>
                                <script>
	function show() {
		cmd = 'refresh';
		$.ajax({
			type: 'POST', // метод отправки
			url: window.location.pathname + 'ajax/?type={{type}}' , // путь к обработчику
            data: {
                "cmd": cmd
            },
            // dataType: 'text',
			success: function (data) {
                if (data.status ==0){
                    if (data.sensor==282){
                        $("#akt282t1").html(data.value_akt282_t1)
                        $("#akt282t2").html(data.value_akt282_t2)
                        $("#sum282akt").html(data.summ282_akt)
                        $("#reakt282t1").html(data.value_reakt282_t1)
                        $("#reakt282t2").html(data.value_reakt282_t2)
                        $("#sum282reakt").html(data.summ282_reakt)

                                    }
                    else{}
                                    }
                 else{}
            },
            error: function (dataerr) {
                 console.log('Ошибка выполнение команды :'+dataerr)
            }
        });
		}

		$(document).ready(function(){
			show();
			setInterval('show({{type}})',1000);
		});
                                </script>
                                {% endblock script_footer %}
